.notification2
  - child = notification.comment || notification.article || notification.campaign || notification.goal
  - user_name = child.user.name unless notification.campaign || notification.goal
  - if notification.comment
    #{user_name} suggests: #{child.message}
  - elsif notification.article
    #{user_name} wrote: #{link_to child.title, "http://thirsty.com/campaigns/#{child.campaign.uuid}?article=#{child.id}"}
  - elsif notification.campaign
    - if defined?(campaign) && notification.campaign == campaign
      Your campaign has been created!
    - else
      A new campaign has been created! #{link_to 'Check it out.', "http://thirsty.com/campaigns/#{child.uuid}"}
  - elsif notification.goal
    A goal has been reached!
    - if child.type == :article
      You've approved #{pluralize child.num, child.type.to_s} within this last month :)
    - elsif child.type == :idea
      You've gotten #{pluralize child.num, child.type.to_s} within this last month :)
  #{distance_of_time_in_words Time.now, child.created_at} ago
  #devider_line
