<%= render partial: 'site/header' %>
<% if user.background.url %>
  <style>
    body { background:url(<%= user.background %>);background-size:100% }
  </style>
<% else %>
  <style>
    body { background:url(<%= user.preset_image %>) }
  </style>
<% end %>
<div id="profile">
            <h1><%= user.name %></h1>
            <h2><%= user.title %></h1>
            <p><%= user.profile && user.profile.html_safe %></p>
            <ul>

                <li style="margin-right:5px;"><%= user.tags %></li>

            </ul>

            <ul style="margin-left:19px;" class="social" id="css3">
            <% user.socials.each do |social| %>
              <li class="<%= social.name == 'Google +' && 'google_plus' || social.name.downcase %>">
                <a href="<%= social.url %>"><strong><%= social.name %></strong></a>
              </li>
            <% end %>

    </ul>
          </div>
