#signup
  - if @user
    %ul
    - @user.errors.messages.each do |message|
      %li
        = message.first
        %ul
          - message.last.each do |reason|
            %li= reason
  = form_for :user, url: '/users/create' do |f|
    = f.email_field :email, placeholder: 'email', autocomplete: 'off'
    = f.password_field :password, placeholder: 'password', autocomplete: 'off'
    = f.submit :signup, style: 'display:inline'
