<div class="header">
    <img src="images/logo.png" width="" height="">
      <ul>
          <li><a href="#">Home</a>
          <li><a href="#">Notifications</a>
          <li><a href="#">My campaigns</a>
          <li><a href="#">Signout</a>
          <li><%= link_to 'paymint', 'http://paymint.thirsty.com', rel: 'shadowbox' %></li>
      </ul>
</div>

</div>

  <div class="clear"></div>


<!--End of header-->
<div id="container" style="margin-left:145px">
<div id="inner_container" style="margin:0 auto 60px;width:835px">
      <div id="wrap">

          <div id="user_guide">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac metus in leo sagittis tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porttitor fermentum ipsum, posuere dapibus mi luctus eu.</p>

            <ul>

              <li><a href="#">Contact</a></li>
              <li><a href="#">Watch video</a></li>

            </ul>
            </div>
            <div id="header_info">
              <p>Pick a marketing cocktail</p>
            </div>
          <div id="pick_campaign">
              <% Cocktail.all.each do |cocktail| %>
              <div class="campaign_box">
              <p><%= cocktail.title %></p>
              <p><%= cocktail.description %></p>
              <p>Price: $<%= cocktail.price %></p>
              <%= link_to 'pick me!', "http://paymint.thirsty.com/?id=#{cocktail.id}&amount=#{cocktail.price}&shadowbox=true&email=#{current_user.email}", rel: 'shadowbox', class: 'pickme' %>
              </div>
          <% end %>
              <button class="button_black" style="margin-top:10px">Suggest a campaign</button>
          </div></div>

        </div>
        </div>

      </div>



  </div><!--End of wrap-->
  <div class="clear"></div>

<script>
  window.addEventListener('message', function(e) {
    if (e.data.paid == true) {
      setTimeout(function(){
        var domain = e.data.domain.split(/\/+/g)
        var extras = '/?id=' + e.data.id + '&name=' + e.data.name + '&url=' + e.data.url + '&notes=' + e.data.notes
        if (typeof domain[1] != 'undefined' ) {
          window.location = '/campaigns/create/' + domain[1].replace('www.', '').replace('.', '-') + extras
        } else {
          window.location = '/campaigns/create/' + domain[0].replace('www.', '').replace('.', '-') + extras
        }
      }, 4500)
    }
  }, false)
</script>
