<%= render partial: 'site/header' %>
<!--End of header-->
      <div id="wrap">

          <div id="user_guide">
            <p>Here will go an explanation of how everything works when you pick a cocktail, the benifits etc.</p>

            <ul>

              <li><a href="#">Contact</a></li>
              <li><a href="#">Watch video</a></li>

            </ul>
            </div>
            <div id="header_info">
              <p>Pick a marketing cocktail:</p>
            </div>
          <div id="pick_campaign">
              <% Cocktail.all.each do |cocktail| %>
              <div class="campaign_box">
              <p><%= cocktail.title %></p>
              <p><%= cocktail.description %></p>
              <p>Price: $<%= cocktail.price %></p>
              <%= link_to 'pick me!', "http://paymint.thirsty.com/?id=#{cocktail.id}&amount=#{cocktail.price}&shadowbox=true&email=#{current_user.email}", rel: 'shadowbox', class: 'pickme' %>
              </div>
          <% end %>
              <button class="button_black" style="margin-top:10px">Suggest a campaign</button>
          </div></div>

        </div>
        </div>

      </div>



  </div><!--End of wrap-->
  <div class="clear"></div>

<script>
  window.addEventListener('message', function(e) {
    if (e.data.paid == true) {
      setTimeout(function(){
        var domain = e.data.domain.split(/\/+/g)
        var extras = '?id=' + e.data.id + '&name=' + e.data.name + '&aid=' + e.data.aid + '&url=' + e.data.url + '&user=' + e.data.user + '&pass=' + e.data.pass + '&notes=' + e.data.notes
        if (typeof domain[1] != 'undefined' ) {
          window.location = '/campaigns/meta/create' + domain[1].replace('www.', '').replace('.', '-') + extras
        } else {
          window.location = '/campaigns/meta/create' + domain[0].replace('www.', '').replace('.', '-') + extras
        }
      }, 4500)
    }
  }, false)
</script>
