<%= render partial: 'site/header' %>

<div id="plan-info" class="modal hide fade">
  <div class="modal-header">Start a Campaign</div>
  <div class="modal-body">
    <%= form_tag '/campaigns/meta/create', remote: true do %>
      <%= hidden_field_tag :id %>
      <%= text_field_tag :name, '', placeholder: 'Company name', autocomplete: 'off' %>
      <%= text_field_tag :url, '', placeholder: 'Blog URL', autocomplete: 'off' %>
      <%= text_area_tag :notes, '', placeholder: 'Important notes to include', autocomplete: 'off' %>
      <%= text_field_tag :user, '', placeholder: 'Wordpress username', autocomplete: 'off' %>
      <%= password_field_tag :pass, '', placeholder: 'Wordpress password', autocomplete: 'off' %>
      <%= text_field_tag :aid, '', placeholder: 'Google analytics site id (UA-XXXXXXX-X)', autocomplete: 'off' %>
      <%= text_field_tag :fuser, '', placeholder: 'ftp username', autocomplete: 'off' %>
      <%= password_field_tag :fpass, '', placeholder: 'ftp password', autocomplete: 'off' %>
      <%= text_field_tag :fdomain, '', placeholder: 'ftp domain/ip', autocomplete: 'off' %>
      <%= text_field_tag :root, '', placeholder: 'wordpress directory path (/srv/wordpress)', autocomplete: 'off' %>
  </div>
  <div class="modal-footer">
    <%= submit_tag :submit, id: 'submit', class: 'btn btn-success' %>
    <% end %>
  </div>
</div>

      <div id="wrap">

          <div id="user_guide">
            <p>Here will go an explanation of how everything works when you pick a cocktail, the benifits etc.</p>

            <ul>

              <li><a href="#">Contact</a></li>
              <li><a href="#">Watch video</a></li>

            </ul>
            </div>
            <div id="header_info">
              <h2>Pick a marketing cocktail:</h2>
            </div>
          <div id="pick_campaign">
          <div id="campaign_box_devider"></div>
              <% Cocktail.all.asc(:price).each do |cocktail| %>
              <div class="campaign_box">
              <p><%= cocktail.title %></p>
              <p><%= cocktail.description.gsub("\n", '<br/>').html_safe %></p>
              <p>Price: $<%= cocktail.price %></p>
              <%= link_to 'Pick Me!', '#plan-info', class: 'pickme', :'data-toggle' => 'modal', onclick: "javascript:$('#id').val('#{cocktail.id}')" %>
              </div>
          <% end %>
      </div>
 <div id="campaign_box_devider2"></div>

  </div><!--End of wrap-->
  <div class="clear"></div>

<script>
  $('#submit').click(function(){
    $(this).val('Submitting...')
  })
  window.addEventListener('message', function(e) {
    if (e.data.paid == true) {
      window.location = '/campaigns/' + e.data.uuid + '/paid'
    }
  }, false)
</script>
