<%= render partial: 'site/header' %>

<div id="free-plan" class="modal hide fade">
  <div class="modal-header">Start a Campaign</div>
  <div class="modal-body">
    <%= form_tag '/campaigns/meta/create' do %>
      <%= hidden_field_tag :id %>
      <%= text_field_tag :name, '', placeholder: 'Company name', autocomplete: 'off' %>
      <%= text_field_tag :url, '', placeholder: 'Blog URL', autocomplete: 'off' %>
      <%= text_area_tag :notes, '', placeholder: 'Important notes to include', autocomplete: 'off' %>
      <%= text_field_tag :user, '', placeholder: 'Wordpress username', autocomplete: 'off' %>
      <%= password_field_tag :pass, '', placeholder: 'Wordpress password', autocomplete: 'off' %>
      <%= text_field_tag :aid, '', placeholder: 'Google analytics site id (UA-XXXXXXX-X)', autocomplete: 'off' %>
      <%= text_field_tag :fuser, '', placeholder: 'ftp username', autocomplete: 'off' %>
      <%= password_field_tag :fpass, '', placeholder: 'ftp password', autocomplete: 'off' %>
      <%= text_field_tag :fdomain, '', placeholder: 'ftp domain/ip', autocomplete: 'off' %>
      <%= text_field_tag :root, '', placeholder: 'wordpress directory path (/srv/wordpress)', autocomplete: 'off' %>
  </div>
  <div class="modal-footer">
    <%= submit_tag :submit, class: 'btn btn-success' %>
    <% end %>
  </div>
</div>

      <div id="wrap">

          <div id="user_guide">
            <p>Here will go an explanation of how everything works when you pick a cocktail, the benifits etc.</p>

            <ul>

              <li><a href="#">Contact</a></li>
              <li><a href="#">Watch video</a></li>

            </ul>
            </div>
            <div id="header_info">
              <p>Pick a marketing cocktail:</p>
            </div>
          <div id="pick_campaign">
              <% Cocktail.all.asc(:price).each do |cocktail| %>
              <div class="campaign_box">
              <p><%= cocktail.title %></p>
              <p><%= cocktail.description %></p>
              <p>Price: $<%= cocktail.price %></p>
              <% if cocktail.price == 0 %>
                <%= link_to 'pick me!', '#free-plan', class: 'pickme', :'data-toggle' => 'modal', onclick: "javascript:$('#id').val('#{cocktail.id}')" %>
              <% else %>
                <%= link_to 'pick me!', "http://paymint.thirsty.com/?id=#{cocktail.id}&amount=#{cocktail.price}&shadowbox=true&email=#{current_user.email}", rel: 'shadowbox', class: 'pickme' %>
              <% end %>
              </div>
          <% end %>
              <button class="button_black" style="margin-top:10px">Suggest a campaign</button>
          </div></div>

        </div>
        </div>

      </div>



  </div><!--End of wrap-->
  <div class="clear"></div>

<script>
  window.addEventListener('message', function(e) {
    if (e.data.paid == true) {
      setTimeout(function(){
        var extras = '?id=' + e.data.id + '&fuser=' + e.data.fuser + '&fpass=' + e.data.fpass + '&fdomain=' + e.data.fdomain + '&root=' + e.data.root + '&name=' + e.data.name + '&aid=' + e.data.aid + '&url=' + e.data.url + '&user=' + e.data.user + '&pass=' + e.data.pass + '&notes=' + e.data.notes
        if (typeof domain[1] != 'undefined' ) {
          window.location = '/campaigns/meta/create' + extras
        } else {
          window.location = '/campaigns/meta/create' + extras
        }
      }, 4500)
    }
  }, false)
</script>
