<%= render partial: 'site/header' %>
<div id="wrap">
<div id="dashboard">
  <div class="dashboard_header">

    <ul style="margin-left:-33px;" id="dashboard_menu">
      <li><img style="margin:-11px 7px 0 -3px; padding:3px; border:1px solid #003249; box-shadow: inset 0px 0px 7px #04284e, 0px 0px 0px #04284e; -moz-box-shadow: inset 0px 0px 7px #04284e, 0px 0px 0px #04284e; -webkit-box-shadow: inset 0px 0px 7px #04284e, 0px 0px 0px #04284e;" src="<%= current_user.avatar.url || current_user.gravatar_url || '/images/no_image.jpg' %>" align="left" width="35" height="35" alt=""></li>
      <li>Hi Michael Abehsera!</li>
      <li>You are loged in as a writer & have</li>
      <li><a style="margin-left:0px;" href="#"> (37) available campaigns <img src="images/arrow_blue.png" style="position:relative; top:-2px;" width="" height="" alt=""></a></li>
    </ul>
    <a class="blue_tip" style="float:right; padding:6px 7px; margin-top:-38px; margin-right:11px;" href="#">How it works</a>
  </div>

  <% Campaign.where(paid: true).each do |campaign| %>
    <div class="campaign_items">
    <img style="margin:6px 8px 0 -4px" src="<%= campaign.image.url || '/images/no_image.jpg' %>" align="left" width="30" height="30">
    <% article_goal = campaign.goals.where(type: :article).first  %>
    <% traffic_goal = campaign.goals.where(type: :traffic).first  %>
    <a href="/campaigns/<%= campaign.uuid %>"><p><%= campaign.title %></p>
      <% if article_goal %>
        <span style="float:right">Articles <%= article_goal.num_achieved %>/<%= article_goal.num %></span>
      <% end %>
      <% if traffic_goal %>
        <span style="float:right">Traffic <%= traffic_goal.num_achieved %>/<%= traffic_goal.num %></span>
      <% end %>
    </a>
    </div><div class="devider_items"></div>
  <% end %>
</div>
</div>
