<%= render partial: 'site/header' %>
<div id="wrap">
          <% if current_user.type == :business || current_user.email == 'michaelabehsera@gmail.com' %>
          <div id="initial_welcome">
            <h1>Welcome to the Thirsty Business Portal!</h1>
              <p>You have successfully logged in as a Business. We are excited to have you as a valued client!
              Below, you can take the first steps to starting a new campaign. If you haven’t yet started a campaign, just click the button that says “Pick a campaign & get started!” 
              If you already have an active campaign, you can see it listed below and click on it to monitor its latest progress.
              We want the Thirsty Business Portal to be the best tool on the web. <br />If you have any questions, suggestions, or need help, <a href="mailto:mike@thirsty.com">click here</a> or call (877) 927-7075 to contact us for support.</p>
          </div>
          <div id="creatives_count">
            <p>Creatives at your disposal / <span><%= User.all.count %></span>
          </div>
          <% else %>
            <div id="initial_welcome">
              <h1>Welcome to the Thirsty Writer Portal!</h1>
              <p>You have successfully logged in as a Writer. We’re excited to have you on our talented team!
              Below, you can browse available campaigns that need content writing help and manage your active campaigns. Just click on a campaign to learn more about that project.
              <br />Have a question? Have an idea for making our Writer Portal even better? We’re always here to help. Just <a href="mailto:mike@thirsty.com">click here</a> or call <br />(877) 927-7075 to contact us today for support.</p>
            </div>
          <% end %>
          <div class="your_campaigns">
          <div id="devider_line2"></div>
          <h1>Active Campaigns:</h1>
          </div>
          <div class="personal_projects">
          <% if current_user.active_campaigns.where(paid: true).empty? && current_user.type != :marketer %>
          <p>&nbspNo campaigns started <a href="/register_campaign" class="button_grey" style="margin:0 0 0 10px">Register your campaign & get started!</a></p> 
          <% else %>

            <% current_user.active_campaigns.where(paid: true).each do |campaign| %>

              <a href="/campaigns/<%= campaign.uuid %>"><p><%= campaign.title %><% campaign.tags.reverse.each do |tag| %><span style="float:right" class="tags"><%= tag.name %><% if tag == campaign.tags.last %><%= '.' %><% else %><%= ',&nbsp;'.html_safe %><% end %></span><% end %></p></a>
              <div id="devider_line"></div>
            <% end %>
          <% end %>
          <% if current_user.type == :marketer %>
          <div id="devider_end2"></div>
          <div class="your_campaigns">
          <div id="devider_line2"></div>
          <h1 style="display:inline">Available Campaigns:</h1>
          </div>
          <div class="personal_projects">

            <% Campaign.where(paid: true).each do |campaign| %>
                <% unless current_user.active_campaigns.where(paid: true).include?(campaign) %>

              <a href="/campaigns/<%= campaign.uuid %>"><p><%= campaign.title %></p></a>
              <div id="devider_line"></div>
            <% end %>
            <% end %>

          </div>
  </div>
      <% end %>
  </div>
</div>
