<%= render partial: 'site/header' %>
<div id="wrap">
          <div id="creatives_count">
            <p>Creatives at your disposal / <span><%= User.where(type: :marketer).count %></span>
          </div>
          <div class="your_campaigns">
          <div id="devider_line2"></div>
          <h1>Active Campaigns:</h1>
          </div>
          <div class="personal_projects">
          <% if current_user.active_campaigns.where(paid: true).empty? %>
          <p>&nbspNo campaigns started <a href="" class="button_grey" style="margin:0 0 0 10px">Pick a campaign & get started!</a></p> 
          <% else %>

            <% current_user.active_campaigns.where(paid: true).each do |campaign| %>

              <a href="/campaigns/<%= campaign.uuid %>"><p><%= campaign.title %></p></a>
              <div id="devider_line"></div>
            <% end %>
          <% end %>
          <div id="devider_end2"></div>
          <div class="your_campaigns">
          <div id="devider_line2"></div>
          <h1>Available Campaigns:</h1>
          </div>
          <div class="personal_projects">

            <% Campaign.where(paid: true).each do |campaign| %>
                <% unless current_user.active_campaigns.where(paid: true).include?(campaign) %>

              <a href="/campaigns/<%= campaign.uuid %>"><p><%= campaign.title %></p></a>
              <div id="devider_line"></div>
            <% end %>
            <% end %>

  </div>
  </div>
