<%= render partial: 'site/header' %>
<div id="wrap">
          <% if current_user.type == :buiness %>
          <div id="creatives_count">
            <p>Creatives at your disposal / <span><%= User.all.count %></span>
          </div>
          <% end %>
          <div class="your_campaigns">
          <div id="devider_line2"></div>
          <h1>Active Campaigns:</h1>
          </div>
          <div class="personal_projects">
          <% if current_user.active_campaigns.where(paid: true).empty? %>
          <p>&nbspNo campaigns started <a href="/cocktails" class="button_grey" style="margin:0 0 0 10px">Pick a campaign & get started!</a></p> 
          <% else %>

            <% current_user.active_campaigns.where(paid: true).each do |campaign| %>

              <a href="/campaigns/<%= campaign.uuid %>"><p><%= campaign.title %><% campaign.tags.reverse.each do |tag| %><span style="float:right" class="tags"><%= tag.name %><% if tag == campaign.tags.last %><%= '.' %><% else %><%= ',&nbsp;'.html_safe %><% end %></span><% end %></p></a>
              <div id="devider_line"></div>
            <% end %>
          <% end %>
          <% if current_user.type == :marketer %>
          <div id="devider_end2"></div>
          <div class="your_campaigns">
          <div id="devider_line2"></div>
          <h1 style="display:inline">Available Campaigns:</h1>
          </div>
          <div class="personal_projects">

            <% Campaign.where(paid: true).each do |campaign| %>
                <% unless current_user.active_campaigns.where(paid: true).include?(campaign) %>

              <a href="/campaigns/<%= campaign.uuid %>"><p><%= campaign.title %></p></a>
              <div id="devider_line"></div>
            <% end %>
            <% end %>

          </div>
  </div>
      <% end %>
  </div>
