<div id="popup" style="display:none">
        <h1>&nbsp; Introducing our first product: <span>Blog Domination—Business Blog Builder</span></h1>
        <p>Do you want to flood your business blog with tons of targeted traffic? Do you want to build deeper relationships with your 
target audience through blogging? Most importantly, do you want to grow your business and generate new leads and new customers with your 
business blog?</p>

        <p>If you answered yes to any of these questions, Thirsty’s newest product Blog Domination—Business Blog Builder will turn your 
blog into a media hub. Your blog will get fresh, viral, original content that attracts your target audience. And the best part? You don’t 
have to lift a finger or type another blog post again!</p>

        <h2>How it works</h2>
        <ul>
            <li>Sign up for free and pick a campaign package</li>
            <li>Approve blog ideas you like from our top writers and marketers</li>
            <li>Marketers aggressively promote your blog across the web on Twitter, Facebook, StumbleUpon, Reddit, Digg, and other popular 
sites</li>
            <li>Pay-for-performance model ensures you only pay for blog posts that perform well
            Monitor results in real-time</li>
        </ul>
        <br />
        <a style="padding:8px 15px;" class="blue_button_home" href="/signup">Signup for free &amp; pick a package</a>
    </div>
<div id="writers_popup" style="display:none">
    <h1>Sign Up As A Writer</h1>

    <p>Are you thirsty for opportunity? We’re always looking for talented writers to join our community. As a Thirsty writer, you’ll get the 
chance to:
Build relationships with top clients
Grow your portfolio
Gain recognition for your work
Make money as a writer!</p>

<h2>How It Works</h2>
<p>Register to become a Thirsty writer
Find a project you want to work on
Submit your ideas
Turn client-approved ideas into great content
Get paid for winning content!</p>

<h2>Create An Account</h2>
<p>Ready to join one of the fastest growing writing communities on the web today? It’s free to open your account, and we pay out big cash 
prizes every day!
Click here to create your free account today!</p>
        <a style="padding:8px 15px;" class="blue_button_home" href="/signup">Signup as a writer</a>
    </div>

<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=229074650500824";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div id="header"> 
<img src="/images/logo_new.png" style="margin:0px 0 0 7px" width="66" height="57" alt="Thirsty logo">
    <ul>
    <li><a class="button_black" href="/signin">Login</a></li>
    <li style="margin-top:5px;"><a href="javascript:$('#writers_popup').bPopup()">Learn More</a></li>
    <li style="margin-top:5px;">Are you a writer?</li>
    </ul>
        
</div>

  <div class="clear"></div>
<div id="main_content">
<div id="content_width">
    <h1 align="center">CUT  YOUR MARKETING EXPENSES BY UP TO 90%</h1>
    <p align="center">We're flipping the marketing world on it's head by cutting out the middle man (ad agencies) and connecting you directly to our army of performance-based marketers. They work directly for you to accomplish your individual marketing goals.</p>
    <p align="center"><span>// In simple words we want to kill ad agencies</span> </p>
    </div></div>
 <div id="wrap">
   <div id="stiches_1"></div>
     <div id="button_width">
        <p align="center">Introducing our first product: Business blogging. signup below or <a class="button_black" href="javascript:$('#popup').bPopup()">Learn More</a></p>
    </div>
    <div id="stiches_2"></div>
    <div id="inner_wrap">
    <div id="second_part">
          <span>profile/</span><%= form_for :user, url: '/users/create', html: { id: 'user_form' } do |f| %>
          <%= f.hidden_field :type, value: 'business' %>
          <%= f.text_field :username, placeholder: 'Profile URL', style: 'margin-left:61px;width:269px' %>
          <%= f.text_field :name, placeholder: 'Name/Business Name' %>
          <%= f.text_field :email, placeholder: 'Email' %>
          <%= f.password_field :password, placeholder: 'Password' %>
        <br/>
        <button class="blue_button_home" style="margin-top:-8px;margin-left:0" href="/signup">Signup for Free & Pick a Package</a>
        <% end %>
    </div>



<script>!function(d,s,id){var 
js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
</div>
 <div id="footer">
    <div class="inner_footer">
    <ul>
        <li><a href="/home">Home</a></li>
        <li>|</li>
        <li><a href="#">Support</a></li>
        <li>|</li>
        <li>Call us at: (877) 927-7075</li>
        <li>|</li>
        <li><a href="http://twitter.com/thirstyapp">Twitter</a></li>
        <p align="center">© 2012 Thirsty, Inc. All rights reserved.</p>
    </ul>
    </div>
    </div>
