<div id="new-theme-modal" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Install a new theme</h3>
  </div>

  <div class="modal-body">
    <%= form_for :theme, url: "/install_theme" do |f| %>
      <%= text_area_tag :url, '', placeholder: 'theme url' %>
      <%= f.text_area :title, placeholder: 'title' %>
      <%= f.text_area :description, placeholder: 'description' %>
      <%= f.file_field :image %>
    <% end %>
  </div>

  <div class="modal-footer">
    <%= content_tag :button, 'Close', :'data-dismiss' => 'modal', class: 'btn' %>
    <%= content_tag :button, 'Submit', class: 'btn btn-success', onclick: "javascript:$('#new-theme-modal form').submit();$('#new-theme-modal .btn-success').text('Submitting..')" %>
  </div>
</div>

<div id="new-plugin-modal" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Install a new plugin</h3>
  </div>

  <div class="modal-body">
    <%= form_for :plugin, url: "/install_plugin" do |f| %>
      <%= text_area_tag :url, '', placeholder: 'plugin url' %>
      <%= f.text_area :title, placeholder: 'title' %>
      <%= f.text_area :description, placeholder: 'description' %>
      <%= f.file_field :image %>
    <% end %>
  </div>

  <div class="modal-footer">
    <%= content_tag :button, 'Close', :'data-dismiss' => 'modal', class: 'btn' %>
    <%= content_tag :button, 'Submit', class: 'btn btn-success', onclick: "javascript:$('#new-plugin-modal form').submit();$('#new-plugin-modal .btn-success').text('Submitting..')" %>
  </div>
</div>

<div id="desc-modal" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Edit Campaign Description</h3>
  </div>

  <div class="modal-body">
    <%= form_tag "/campaigns/#{campaign.uuid}/update_desc", remote: true do %>
      <%= text_area_tag :notes, campaign.notes %>
    <% end %>
  </div>

  <div class="modal-footer">
    <%= content_tag :button, 'Close', :'data-dismiss' => 'modal', class: 'btn' %>
    <%= content_tag :button, 'Submit', class: 'btn btn-success', onclick: "javascript:$('#desc-modal form').submit();$('#desc-modal .btn-success').text('Submitting..')" %>
  </div>
</div>

<div id="guidelines-modal" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Edit Campaign Guidelines</h3>
  </div>

  <div class="modal-body">
    <%= form_tag "/campaigns/#{campaign.uuid}/update_guidelines", remote: true do %>
      <%= text_area_tag :guidelines, campaign.guidelines %>
    <% end %>
  </div>

  <div class="modal-footer">
    <%= content_tag :button, 'Close', :'data-dismiss' => 'modal', class: 'btn' %>
    <%= content_tag :button, 'Submit', class: 'btn btn-success', onclick: "javascript:$('#guidelines-modal form').submit();$('#guidelines-modal .btn-success').text('Submitting..')" %>
  </div>
</div>


<div id="headline-modal" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Submit Your Headline</h3>
  </div>

  <div class="modal-body">
    <%= form_tag "/campaigns/#{campaign.uuid}/headline", remote: true do %>
      <%= text_field_tag :headline, '', placeholder: 'enter your headline' %>
    <% end %>
  </div>

  <div class="modal-footer">
    <%= content_tag :button, 'Close', :'data-dismiss' => 'modal', class: 'btn' %>
    <%= content_tag :button, 'Submit', class: 'btn btn-success', onclick: "javascript:$('#headline-modal form').submit();$('#headline-modal .btn-success').text('Submitting..')" %>
  </div>
</div>

<div id="image-modal" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Upload Image</h3>
  </div>

  <div class="modal-body">
    <%= form_for :campaign, url: "/campaigns/#{campaign.uuid}/upload_image" do |f| %>
      <%= f.file_field :image %>
    <% end %>
  </div>

  <div class="modal-footer">
    <%= content_tag :button, 'Close', :'data-dismiss' => 'modal', class: 'btn' %>
    <%= content_tag :button, 'Submit', class: 'btn btn-success', onclick: "javascript:$('#image-modal form').submit();$('#image-modal .btn-success').text('Submitting..')" %>
  </div>
</div>

<div id="plugin-modal" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Install Plugin</h3>
  </div>

  <div class="modal-body">
    <%= form_tag "/campaigns/#{campaign.uuid}/install", remote: true do %>
      <%= hidden_field_tag :pid %>
      <%= text_field_tag :fuser, '', placeholder: 'ftp username', autocomplete: 'off' %>
      <%= text_field_tag :fpass, '', placeholder: 'ftp password', autocomplete: 'off' %>
      <%= text_field_tag :fdomain, '', placeholder: 'ftp domain/ip' %>
      <%= text_field_tag :root, '', placeholder: 'wordpress root directory' %>
    <% end %>
  </div>

  <div class="modal-footer">
    <%= content_tag :button, 'Close', :'data-dismiss' => 'modal', class: 'btn' %>
    <%= content_tag :button, 'Submit', class: 'plugin-submit btn btn-success', onclick: "javascript:$('#plugin-modal form').submit();$('#plugin-modal .btn-success').text('Submitting..')" %>
  </div>
</div>

<div id="theme-modal" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Install Theme</h3>
  </div>

  <div class="modal-body">
    <%= form_tag "/campaigns/#{campaign.uuid}/theme", remote: true do %>
      <%= hidden_field_tag :tid %>
      <%= text_field_tag :fuser, '', placeholder: 'ftp username', autocomplete: 'off' %>
      <%= password_field_tag :fpass, '', placeholder: 'ftp password', autocomplete: 'off' %>
      <%= text_field_tag :fdomain, '', placeholder: 'ftp domain/ip' %>
      <%= text_field_tag :root, '', placeholder: 'wordpress root directory' %>
    <% end %>
  </div>

  <div class="modal-footer">
    <%= content_tag :button, 'Close', :'data-dismiss' => 'modal', class: 'btn' %>
    <%= content_tag :button, 'Submit', class: 'plugin-submit btn btn-success', onclick: "javascript:$('#theme-modal form').submit();$('#theme-modal .btn-success').text('Submitting..')" %>
  </div>
</div>


<div id="analytics-modal" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Analytics</h3>
  </div>

  <div class="modal-body">
    Loading...
  </div>

  <div class="modal-footer">
    <button class="btn" data-dismiss="modal">Close</button>
  </div>
</div>

<div id="idea-sub" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Submit an idea</h3>
  </div>

  <div class="modal-body">
    <%= form_for :comment, url: "/campaigns/#{campaign.uuid}/create_comment", html: { remote: true, class: 'form-horizontal', style: 'text-align:center' } do |f| %>
      <%= hidden_field_tag :id, campaign.id %>
      <div class="control-group">
        <div class="controls" style="margin-left:0">
          <%= f.text_field :title, placeholder: 'Title', style: 'width: 350px' %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls" style="margin-left:0">
          <%= f.text_area :message, placeholder: 'Explanation', style: 'height: 150px; width: 350px' %>
        </div>
      </div>
  </div>

  <div class="modal-footer" style="text-align:center">
      <%= f.submit :submit, value: 'Submit idea', class: 'btn btn-success', style: 'float:none', onclick: 'javascript:$(this).val("Submitting..")' %>
    <% end %>
  </div>
</div>

<%= render partial: 'site/header' %>
      <div id="wrap">
          <div id="company_menu">
              <h1>Campaign: <%= campaign.cocktail.title.html_safe %></h1>
          </div>
          <div class="tabbable">
          <div id="menu_one">

            <ul class="nav nav-tabs" data-tabs="tabs">
              <li class="active"><a href="#info-tab" data-toggle="tab">Company Info</a></li>
              <li><a href="#goals-tab" data-toggle="tab">Monthly Goals</a></li>
              <li><a href="#guidelines-tab" data-toggle="tab">Guidelines</a></li>
            </ul>

          </div>



          <div id="company_info">

            <div class="tab-content">

              <div id="info-tab" class="tab-pane active">
                <div id="campaign_image">
                <% if campaign.image && campaign.image.url %>
                  <img src="<%= campaign.image %>" style="margin:1px 10px 0 0" align="left">
                <% elsif current_user == campaign.user %>
                  <img id="campaign_image" src="/images/no_image.jpg" style="height:50px;width:50px;margin:1px 10px 0 0" align="left">
                <% end %>
                </div>
                <h1><%= campaign.title %></h1>
                <p>Company Notes: <%= campaign.notes %></p>
                <% if current_user == campaign.user %>
                  <%= link_to 'edit', '#desc-modal', :'data-toggle' => 'modal' %>
                <% end %>
              </div>

            <div id="guidelines-tab" class="tab-pane">
              <div id="guidelines">
                <p><%= campaign.guidelines %></p>
                <% if current_user == campaign.user %>
                  <%= link_to 'edit', '#guidelines-modal', :'data-toggle' => 'modal' %>
                <% end %>
              </div>
            </div>

              <div id="goals-tab" class="tab-pane">
                <% campaign.goals.each do |goal| %>
                  <div class="goal">
                    <% if goal.type == :traffic %>
                      <p style="border:none;display:inline"><%= goal.num %> additional unique visitors</p>
                    <% else %>
                      <p style="border:none;display:inline"><%= pluralize goal.num, goal.type.to_s %></p>
                    <% end %>
                    <% if goal.achieved %>
                      <div class="label label-success" style="display:inline">achieved</div>
                    <% else %>
                      <div class="label label-important" style="display:inline">not achieved</div>
                    <% end %>
                  </div>
                <% end %>
              </div>

            </div>

          </div>
          </div>

       <div class="tabbable">

       <div id="marketers_tab">

       <p>Marketers:</p>


          <ul class="nav nav-tabs" data-tabs="tabs">
            <li id="articles-link" class="active"><a href="#articles-tab" data-toggle="tab">Article submissions</a></li>
            <% if current_user == campaign.user %>
              <li id="approve-link"><a href="#approve-tab" data-toggle="tab">Approve articles</a></li>
            <% end %>
            <li><a href="#tools-tab" data-toggle="tab">Tools</a></li>
            <li><a href="#themes-tab" data-toggle="tab">Themes</a></li>
            <li><a href="#reports-tab" data-toggle="tab">Reports</a></li>
            <li><a href="#writers-tab" data-toggle="tab">Winning writers</a></li>
            <li><a href="#chat-tab" data-toggle="tab">Chat</a></li>
            <li><a href="#analytics-tab" data-toggle="tab">Analytics</a></li>
          </ul>
        </div>

          <div class="tab-content">

            <div id="articles-tab" class="tab-pane active">
              <div id="articles">
                <div id="headline-container">
                  <h3>Have an article idea?</h3>
                  <button href="#headline-modal" class="btn btn-primary" data-toggle="modal">Submit your headline!</button>
                </div>
                <%= distance_of_time_in_words Time.now, campaign.end_date %> left<br/>
                <%= text_field_tag :title, '', placeholder: 'Title', style: 'width:760px' %>
                <%= text_area_tag :'send-area', '', style: 'width:767px;height:225px;display:block' %>
                <%= text_area_tag :'bio', '', style: 'width:767px;height:75px;display:block' %>
                <%= link_to 'Submit', 'javascript:void(0)', id: 'send', class: 'btn btn-success', style: 'margin-top: 10px' %>
              </div>
            </div>
                <% if current_user == campaign.user %>
                  <div id="approve-tab" class="tab-pane">
                      <div id="approve">
                  <div id="unread-articles">
                    <% campaign.headlines.desc(:created_at).each do |headline| %>
                      <div class="article" id="headline<%=headline.id%>">
                         <%= headline.user.name %> suggested the headline "<%= headline.title %>"
                         <%= distance_of_time_in_words Time.now, headline.created_at %>
                         -- 
                         <% if headline.approved %>
                         <span class="approved-status approved">Approved</span>
                         <% elsif headline.approved == false %>
                         <span class="approved-status denied">Denied</span>
                         <% else %>
                         <%= link_to 'accept', "/campaigns/#{campaign.uuid}/approve_headline?id=#{headline.id}", remote: true, class: 'accept' %>
                         <%= link_to 'deny', "/campaigns/#{campaign.uuid}/deny_headline?id=#{headline.id}", remote: true, class: 'deny' %>
                         <% end %>
                      </div>
                    <% end %>
                    <% campaign.articles.desc(:created_at).each do |article| %>
                      <div class="article" id="article<%= article.id %>">
                         "<%= article.title %>" was written by: <%= article.user.name %>
                         <%= distance_of_time_in_words Time.now, article.created_at %> ago
                         -- 
                         <% if article.approved %>
                         <span class="approved-status approved">Approved</span>
                         <% elsif article.approved == false %>
                         <span class="approved-status denied">Denied</span>
                         <% else %>
                         <%= link_to 'accept', "/campaigns/#{campaign.uuid}/approve?id=#{article.id}", remote: true, class: 'accept' %>
                         <%= link_to 'deny', "/campaigns/#{campaign.uuid}/deny?id=#{article.id}", remote: true, class: 'deny' %>
                         <% end %>
                         <%= link_to 'edit', 'javascript:void(0)', class: 'view', aid: article.id %>
                       </div>
                    <% end %>
                  <% if campaign.articles.count == 0 && campaign.headlines.count == 0 %>
                    no articles
                  <% end %>
                  </div>
                  </div>
                  </div>
                <% end %>

            <div id="tools-tab" class="tab-pane">
              <div id="tools">
                <% if current_user.admin %>
                  <%= link_to 'Add new', '#new-plugin-modal', :'data-toggle' => 'modal', class: 'btn btn-primary' %>
                <% end %>
                <% Plugin.all.each do |plugin| %>
                  <div class="tool" id="plugin<%= plugin.id %>">
                    <%= plugin.title %>
                    <img align="left" src="<%= plugin.image %>">
                    <p><%= plugin.description%></p>
                    <%= link_to 'install', '#plugin-modal', :'data-toggle' => 'modal', class: 'plugin-link', pid: plugin.id, filename: plugin.filename %>
                    <%= link_to 'download', "/wordpress/plugins/#{plugin.filename}" %>
                  </div>
                <% end %>
              </div>
            </div>

            <div id="themes-tab" class="tab-pane">
                <% if current_user.admin %>
                  <%= link_to 'Add new', '#new-theme-modal', :'data-toggle' => 'modal', class: 'btn btn-primary' %>
                <% end %>
              <div id="themes">
                <% Theme.all.each do |plugin| %>
                  <div class="tool" id="plugin<%= plugin.id %>">
                    <%= plugin.title %>
                    <img align="left" src="<%= plugin.image %>">
                    <p><%= plugin.description%></p>
                    <%= link_to 'install', '#theme-modal', :'data-toggle' => 'modal', class: 'theme-link', tid: plugin.id, filename: plugin.filename %>
                    <%= link_to 'download', "/wordpress/themes/#{plugin.filename}" %>
                  </div>
                <% end %>
              </div>
            </div>

            <div id="reports-tab" class="tab-pane">
              <div id="reports_menu">
                <div id="devider_line2"></div>
                <h1><%= campaign_notifications.size %> Reports</h1>
              </div>
              <div id="reports"><%= render campaign_notifications %></div>
            </div>

            <div id="writers-tab" class="tab-pane">
              <div id="winning_writers">
                <h1 style="display:inline">Writers organized by the best results</h1>
                <% if current_user == campaign.user %>
                  <%= link_to 'Update results', "/campaigns/#{campaign.uuid}/auth", class: 'btn btn-primary' %>
                <% end %>
              </div>
              <div id="devider_line3"></div>
              <div id="writers"><%= render campaign.articles.where(month: campaign.month, approved: true).desc(:unique_pageviews) %></div>
              <div id="devider_end2"></div>
            </div>

            <div id="analytics-tab" class="tab-pane">
              <div id="analytics">
                <% articles = campaign.articles.where(month: campaign.month, approved: true).desc(:unique_pageviews) %>
                <% if articles.count > 0 %>
                  <% articles.each do |article| %>
                    <div class="article">
                      <%= link_to article.title, '#analytics-modal', :'data-toggle' => 'modal', class: 'analytics-link', aid: article.id %>
                    </div>
                  <% end %>
                <% else %>
                  no articles
                <% end %>
              </div>
            </div>


            <div id="chat-tab" class="tab-pane">
              <div id="chat">
                <div id="users">
                  <% campaign.subscriptions.each do |user| %>
                    <div class="user" id="user<%= user.id %>"><%= user.name %></div>
                  <% end %>
                </div>
                <div id="chat_messages">
                <% campaign.chats.each do |chat| %>
                  <div class="chat_message">
                    <span class="timestamp">[<%= chat.timestamp %>]</span>
                    <span class="username"><%= chat.user.name %>: </span>
                    <span class="message_content"><%= chat.message %></span>
                  </div>
                <% end %>
                </div>
                <%= form_tag "/campaigns/#{campaign.uuid}/chat_message", id: 'chat_form', remote: true do %>
                  <%= text_field_tag :message, '', style: 'width:700px' %>
                  <%= submit_tag :submit, style: 'display:none' %>
                <% end %>
              </div>
            </div>

          </div>
        </div>

        </div>

<script>
  $(document).ready(function(){
    $('#campaign_image').click(function(){
      $('#image-modal').modal()
      $('#image-modal').modal('show')
    })
    $('.plugin-link').click(function(){
      $('#pid').val( $(this).attr('tid') )
      $('.plugin-submit').text('Submit')
    })
    $('.theme-link').click(function(){
      $('#tid').val( $(this).attr('tid') )
      $('.plugin-submit').text('Submit')
    })
    $('.analytics-link').click(function(){
      $.post(
        '/campaigns/analytics',
        { id: $(this).attr('aid') },
        function(rsp){ $('#analytics-modal .modal-body').html(rsp) },
        'html'
      )
    })
    $('.article .accept').live('click', function(){
      setTimeout(function(){
        $(this).attr('href', '')
      }, 500)
      $(this).text('accepting..')
      $(this).parent().children('.deny').remove()
    })
    $('.article .deny').live('click', function(){
      setTimeout(function(){
        $(this).attr('href', '')
      }, 500)
      $(this).text('denying..')
      $(this).parent().children('.accept').remove()
    })
    function new_message(message, username, timestamp) {
        return '<div class="chat_message"><span class="timestamp">[' + timestamp + ']</span> <span class="username">' + username + ': </span><span class="message_content">' + message + '</span></div>'
    }

    var jug = new Juggernaut({port: '8081'})
    jug.meta = {
      user_id: '<%= current_user.id %>',
      campaign_id: '<%= campaign.id %>'
    }

    jug.subscribe('<%= campaign.uuid %>', function(data) {
      if (data.message && data.message != '') {
        $('#chat_messages').append(new_message(data.message, data.username, data.timestamp))
        $('#chat_messages').scrollTop($('#chat_messages')[0].scrollHeight)
        $('#message').val('')
      } else if (data.event_type == 'subscribe') {
        $('#users').append('<div class="user" id="user' + data.user_id + '">' + data.username + '</div>')
      } else if (data.event_type == 'unsubscribe') {
        $('#user' + data.user_id).fadeOut()
      } else if (data.event_type == 'install_success') {
        $('.plugin-submit').html('installed!')
      } else if (data.event_type == 'install_failure') {
        $('.plugin-submit').html('failed :(')
      }
    })

    var session_check = setInterval(function(){
      if (jug.sessionID) {
        clearInterval(session_check)
        $('#chat_form').append('<input type="hidden" name="sessionID" value="' + jug.sessionID + '">')
      }
    }, 100)

    $('#chat_form').submit(function(){
      var message = $('#message').val()
      if (message != '') {
        $('#chat_messages').append(new_message(message, '<%= current_user.name %>', $.format.date(new Date(), 'HH:mm')))
        $('#chat_messages').scrollTop($('#chat_messages')[0].scrollHeight)
      }
    })

    $('#tool_form').submit(function(e){
      $('#link').attr('readonly', 'true')
    })

    $('.view').click(function(){
      $.post(
        '/campaigns/view',
        { id: $(this).attr('aid') },
        function(rsp) {
          console.log(rsp)
          $('#approve-tab').removeClass('active')
          $('#approve-link').removeClass('active')
          $('#articles-tab').addClass('active')
          $('#articles-link').addClass('active')
          $('#title').val(rsp.title)
          $('.nicEdit-main').first().html(rsp.article)
          $('.nicEdit-main').last().html(rsp.bio)
        },
        'json'
      )
    })

    new nicEditor().panelInstance('send-area')
    new nicEditor().panelInstance('bio')
    $('.nicEdit-main').parent().css('background-color', 'white')
    $('.nicEdit-main').first().html('article')
    $('.nicEdit-main').last().html('<%= current_user.bio && current_user.bio.html_safe || "bio" %>')
    $('#send').click(function(){
      $(this).text('Submitting..')
      $.post(
        '/campaigns/<%= campaign.uuid %>/submit',
        { id: '<%= current_user.id %>', content: $('.nicEdit-main').first().html(), title: $('#title').val(), bio: $('.nicEdit-main').last().html() },
        function(rsp){
          if (rsp.success == true) {
            $('#title').val('')
            $('.nicEdit-main').html('')
            $('#send').text('Submit')
            $('#articles-tab').prepend('<div style="margin-top:10px;width:100px" class="alert alert-success"><a class="close">x</a>Article submitted!</div>')
            if ( !($('#unread-articles').html().search('no articles') == -1)) {
              $('#unread-articles').html('')
            }
            $('#unread-articles').append('<div class="article" id="article' + rsp.id + '">' + rsp.title + ' written by: ' + rsp.name + ' <a href="/campaigns/<%=campaign.uuid%>/approve?id=' + rsp.id + '" data-remote="true" class="accept">accept</a> <a href="/campaigns/<%=campaign.uuid%>/deny?id=' + rsp.id + '" data-remote="true" class="deny">deny</a></div>')
          } else {
            $('#send').text('Failed :(')
          }
        },
        'json'
      )
    })
  })
</script>
