<div id="idea-sub" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Submit an idea</h3>
  </div>

  <div class="modal-body">
    <%= form_for :comment, url: '/comments/create', html: { remote: true, class: 'form-horizontal', style: 'text-align:center' } do |f| %>
      <%= hidden_field_tag :id, campaign.id %>
      <div class="control-group">
        <div class="controls" style="margin-left:0">
          <%= f.text_field :title, placeholder: 'Title', style: 'width: 350px' %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls" style="margin-left:0">
          <%= f.text_area :message, placeholder: 'Explanation', style: 'height: 150px; width: 350px' %>
        </div>
      </div>
  </div>

  <div class="modal-footer" style="text-align:center">
      <%= f.submit :submit, value: 'Submit idea', class: 'btn btn-success', style: 'float:none', onclick: 'javascript:$(this).val("Submitting..")' %>
    <% end %>
  </div>
</div>

<div id="header">
    <img src="/images/logo.png" style="margin:0 0 0 -2px;" width="" height="">
      <ul>
          <li><a href="#">Pick a cocktail</a>
          <li><a href="#">My campaigns</a>
          <li><a href="#">Notifications</a>
          <li><a href="#">Support</a>
          <li><a href="#">Logout</a>
      </ul>
</div>

      <div id="wrap">
          <div id="company_menu">
              <h1>Campaign: <%= campaign.cocktail.title %></h1>
          </div>
          <div class="tabbable">
          <div id="menu_one">

            <ul class="nav nav-tabs" data-tabs="tabs">
              <li class="active"><a href="#info-tab" data-toggle="tab">Company Info</a></li>
              <li><a href="#goals-tab" data-toggle="tab">Monthly Goals</a></li>
            </ul>

          </div>



          <div id="company_info">

            <div class="tab-content">

              <div id="info-tab" class="tab-pane active">
                <img src="/images/profile.png" style="margin:1px 10px 0 0" align="left" width="50" height="50">
                <br />
                <h1><%= campaign.title %></h1>
                <p>Company Notes: <%= campaign.notes %></p>
              </div>

              <div id="goals-tab" class="tab-pane">
                <p>Testing</p>
                <p>Goals</p>
              </div>

            </div>

          </div>
          </div>

       <div class="tabbable">

       <div id="marketers_tab">

       <p>Marketers:</p>


          <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#ideas-tab" data-toggle="tab">Ideas</a></li>
            <li><a href="#articles-tab" data-toggle="tab">Article submissions</a></li>
            <li><a href="#tools-tab" data-toggle="tab">Tools</a></li>
            <li><a href="#reports-tab" data-toggle="tab">Reports</a></li>
            <li><a href="#writers-tab" data-toggle="tab">Winning writers</a></li>
          </ul>
        </div>

          <div class="tab-content">

            <div id="ideas-tab" class="tab-pane active">

              <div id="ideas">
                <h3>Have any marketing ideas for this campaign? <button class="button_submit" href="#idea-sub" data-toggle="modal">Submit an idea</button></h1>
                <div id="comments"><%= render campaign.comments.reverse %></div>
              </div>

            </div>

            <div id="articles-tab" class="tab-pane">
              <div id="ideas">
                <%= text_field_tag :title, '', placeholder: 'Title', style: 'width:492px' %>
                <%= text_area_tag :'send-area', '', style: 'width:500px;height:225px;display:block' %>
                <%= link_to 'Submit', 'javascript:void(0)', id: 'send', class: 'btn btn-success', style: 'margin-top: 10px' %>
              </div>
            </div>

            <div id="tools-tab" class="tab-pane">
            </div>

            <div id="reports-tab" class="tab-pane">
              <% notifications = (campaign.articles.map {|c|c.notification} + campaign.comments.map {|c|c.notification}).compact.sort_by(&:created_at).reverse %>
              <div id="reports_menu">
                <div id="devider_line2"></div>
                <h1><%= notifications.size %> Reports</h1>
              </div>
              <div id="writers"><%= render notifications %></div>
            </div>

            <div id="writers-tab" class="tab-pane">
              <div id="winning_writers">
                <h1 style="display:inline">Writers organized by the best results</h1>
                <% if current_user == campaign.user %>
                  <%= link_to 'Update results', "/campaigns/#{campaign.uuid}/auth", class: 'btn btn-primary' %>
                <% end %>
              </div>
              <div id="devider_line3"></div>
              <div id="writers"><%= render campaign.articles.desc(:unique_pageviews) %></div>
              <div id="devider_end2"></div>
            </div>

          </div>
        </div>

        </div>

<script>
  $(document).ready(function(){
    new nicEditor().panelInstance('send-area')
    $('.nicEdit-main').parent().css('background-color', 'white')
    $('#send').click(function(){
      $(this).text('Submitting..')
      $.post(
        '/campaigns/<%= campaign.uuid %>/submit',
        { id: '<%= current_user.id %>', content: $('.nicEdit-main').html(), title: $('#title').val() },
        function(rsp){
          $('#title').val('')
          $('.nicEdit-main').html('')
          $('#send').text('Submit')
        },
        'json'
      )
    })
  })
</script>
