<div id="idea-sub" class="modal hide fade">
  <div class="modal-header">
    <a class="close" data-dismiss="modal">×</a>
    <h3>Submit an idea</h3>
  </div>

  <div class="modal-body">
    <%= form_for :comment, url: "/campaigns/#{campaign.uuid}/create_comment", html: { remote: true, class: 'form-horizontal', style: 'text-align:center' } do |f| %>
      <%= hidden_field_tag :id, campaign.id %>
      <div class="control-group">
        <div class="controls" style="margin-left:0">
          <%= f.text_field :title, placeholder: 'Title', style: 'width: 350px' %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls" style="margin-left:0">
          <%= f.text_area :message, placeholder: 'Explanation', style: 'height: 150px; width: 350px' %>
        </div>
      </div>
  </div>

  <div class="modal-footer" style="text-align:center">
      <%= f.submit :submit, value: 'Submit idea', class: 'btn btn-success', style: 'float:none', onclick: 'javascript:$(this).val("Submitting..")' %>
    <% end %>
  </div>
</div>

<%= render partial: 'site/header' %>
      <div id="wrap">
          <div id="company_menu">
              <h1>Campaign: <%= campaign.cocktail.title %></h1>
          </div>
          <div class="tabbable">
          <div id="menu_one">

            <ul class="nav nav-tabs" data-tabs="tabs">
              <li class="active"><a href="#info-tab" data-toggle="tab">Company Info</a></li>
              <li><a href="#goals-tab" data-toggle="tab">Monthly Goals</a></li>
            </ul>

          </div>



          <div id="company_info">

            <div class="tab-content">

              <div id="info-tab" class="tab-pane active">
                <div id="campaign_image">
                <% if campaign.image %>
                  <img src="<%= campaign.image %>" style="height:100px;margin:1px 10px 0 0" align="left">
                <% elsif current_user == campaign.user %>
                  <%= form_tag "/campaigns/#{campaign.uuid}/upload_image", style: 'margin-bottom:10px', remote: true do %>
                    <%= text_field_tag :image, '', placeholder: 'Enter an image url for your campaign', style: 'width:350px' %>
                    <%= submit_tag :submit, style: 'display:none' %>
                  <% end %>
                <% end %>
                </div>
                <h1><%= campaign.title %></h1>
                <p>Company Notes: <%= campaign.notes %></p>
              </div>

              <div id="goals-tab" class="tab-pane">
                <% campaign.goals.each do |goal| %>
                  <p style="display:inline"><%= pluralize goal.num, goal.type.to_s %></p>
                  <% if goal.achieved %>
                    <div class="label label-success" style="display:inline">achieved</div>
                  <% else %>
                    <div class="label label-important" style="display:inline">not achieved</div>
                  <% end %>
                <% end %>
              </div>

            </div>

          </div>
          </div>

       <div class="tabbable">

       <div id="marketers_tab">

       <p>Marketers:</p>


          <ul class="nav nav-tabs" data-tabs="tabs">
            <li class="active"><a href="#ideas-tab" data-toggle="tab">Ideas</a></li>
            <li><a href="#articles-tab" data-toggle="tab">Article submissions</a></li>
            <li><a href="#tools-tab" data-toggle="tab">Tools</a></li>
            <li><a href="#reports-tab" data-toggle="tab">Reports</a></li>
            <li><a href="#writers-tab" data-toggle="tab">Winning writers</a></li>
            <li><a href="#chat-tab" data-toggle="tab">Chat with your marketers</a></li>
          </ul>
        </div>

          <div class="tab-content">

            <div id="ideas-tab" class="tab-pane active">

              <div id="ideas">
                <h3>Have any marketing ideas for this campaign? <button class="button_submit" href="#idea-sub" data-toggle="modal">Submit an idea</button></h1>
                <div id="comments"><%= render campaign.comments.reverse %></div>
              </div>

            </div>

            <div id="articles-tab" class="tab-pane">
              <div id="articles">
                <%= distance_of_time_in_words Time.now, campaign.end_date %> left<br/>
                <%= text_field_tag :title, '', placeholder: 'Title', style: 'width:492px' %>
                <%= text_area_tag :'send-area', '', style: 'width:500px;height:225px;display:block' %>
                <%= text_area_tag :'bio', '', style: 'width:500px;height:75px;display:block' %>
                <%= link_to 'Submit', 'javascript:void(0)', id: 'send', class: 'btn btn-success', style: 'margin-top: 10px' %>
                <% if current_user.type != :marketer %>
                  <div id="unread-articles">
                  <% campaign.articles.where(approved: nil).each do |article| %>
                    <div class="article" id="article<%= article.id %>">
                       "<%= article.title %>" written by: <%= article.user.name %>
                       <%= link_to 'accept', "/campaigns/#{campaign.uuid}/approve?id=#{article.id}", remote: true, class: 'accept' %>
                       <%= link_to 'deny', "/campaigns/#{campaign.uuid}/deny?id=#{article.id}", remote: true, class: 'deny' %>
                     </div>
                  <% end %>
                  </div>
                <% end %>
              </div>
            </div>

            <div id="tools-tab" class="tab-pane">
              <div id="tools">
                <div id="tool-list" style="padding-bottom:60px"><%= render campaign.tools %></div>
                <%= form_tag "/campaigns/#{campaign.uuid}/link", id: 'tool_form', remote: true do %>
                  <%= text_field_tag :link, '', placeholder: 'Link a new tool', style: 'width:700px' %>
                  <%= submit_tag :submit, style: 'display:none' %>
                <% end %>
              </div>
            </div>

            <div id="reports-tab" class="tab-pane">
                <% notifications = (campaign.goals.map {|g| g.notification} + campaign.articles.map {|a|a.notification} + campaign.comments.map {|c|c.notification}).compact.sort_by(&:created_at).reverse %>
              <div id="reports_menu">
                <div id="devider_line2"></div>
                <h1><%= notifications.size %> Reports</h1>
              </div>
              <div id="reports"><%= render notifications %></div>
            </div>

            <div id="writers-tab" class="tab-pane">
              <div id="winning_writers">
                <h1 style="display:inline">Writers organized by the best results</h1>
                <% if current_user == campaign.user %>
                  <%= link_to 'Update results', "/campaigns/#{campaign.uuid}/auth", class: 'btn btn-primary' %>
                <% end %>
              </div>
              <div id="devider_line3"></div>
              <div id="writers"><%= render campaign.articles.where(month: campaign.month, approved: true).desc(:unique_pageviews) %></div>
              <div id="devider_end2"></div>
            </div>

            <div id="chat-tab" class="tab-pane">
              <div id="chat">
                <div id="users">
                  <% campaign.subscriptions.each do |user| %>
                    <div class="user" id="user<%= user.id %>"><%= user.name %></div>
                  <% end %>
                </div>
                <div id="chat_messages"></div>
                <%= form_tag "/campaigns/#{campaign.uuid}/chat_message", id: 'chat_form', remote: true do %>
                  <%= text_field_tag :message, '', style: 'width:700px' %>
                  <%= submit_tag :submit, style: 'display:none' %>
                <% end %>
              </div>
            </div>

          </div>
        </div>

        </div>

<script>
  $(document).ready(function(){
    $('.article .accept').click(function(){
      setTimeout(function(){
        $(this).attr('href', '')
      }, 500)
      $(this).text('accepting..')
      $(this).parent().children('.deny').remove()
    })
    $('.article .deny').click(function(){
      setTimeout(function(){
        $(this).attr('href', '')
      }, 500)
      $(this).text('denying..')
      $(this).parent().children('.accept').remove()
    })
    function new_message(message, username) {
      return '<div class="chat_message"><span class="username">' + username + ': </span><span class="message_content">' + message + '</span></div>'
    }

    var jug = new Juggernaut
    jug.meta = {
      user_id: '<%= current_user.id %>',
      campaign_id: '<%= campaign.id %>'
    }

    jug.subscribe('<%= campaign.uuid %>', function(data) {
      if (data.message && data.message != '') {
        $('#chat_messages').append(new_message(data.message, data.username))
        $('#chat_messages').scrollTop($('#chat_messages')[0].scrollHeight)
        $('#message').val('')
      } else if (data.event_type == 'subscribe') {
        $('#users').append('<div class="user" id="user' + data.user_id + '">' + data.username + '</div>')
      } else if (data.event_type == 'unsubscribe') {
        $('#user' + data.user_id).fadeOut()
      }
    })

    var session_check = setInterval(function(){
      if (jug.sessionID) {
        clearInterval(session_check)
        $('#chat_form').append('<input type="hidden" name="sessionID" value="' + jug.sessionID + '">')
      }
    }, 100)

    $('#chat_form').submit(function(){
      var message = $('#message').val()
      if (message != '') {
        $('#chat_messages').append(new_message(message, '<%= current_user.name %>'))
        $('#chat_messages').scrollTop($('#chat_messages')[0].scrollHeight)
        $('#message').val('')
      }
    })

    $('#tool_form').submit(function(e){
      $('#link').attr('readonly', 'true')
    })

    new nicEditor().panelInstance('send-area')
    new nicEditor().panelInstance('bio')
    $('.nicEdit-main').parent().css('background-color', 'white')
    $('.nicEdit-main').first().html('article')
    $('.nicEdit-main').last().html('<%= current_user.bio || "bio" %>')
    $('#send').click(function(){
      $(this).text('Submitting..')
      $.post(
        '/campaigns/<%= campaign.uuid %>/submit',
        { id: '<%= current_user.id %>', content: $('.nicEdit-main').first().html(), title: $('#title').val(), bio: $('.nicEdit-main').last().html() },
        function(rsp){
          if (rsp.success == true) {
            $('#title').val('')
            $('.nicEdit-main').html('')
            $('#send').text('Submit')
          } else {
            $('#send').text('Failed :(')
          }
        },
        'json'
      )
    })
  })
</script>
