<div class="header">
    <img src="/images/logo.png" width="" height="">
      <ul>
          <li><a href="#">Home</a>
          <li><a href="#">Notifications</a>
          <li><a href="#">My campaigns</a>
          <li><a href="#">Signout</a>
      </ul>
</div>

</div>

  <div class="clear"></div>


<!--End of header-->
<div id="container" style="margin-left:145px">
<div id="inner_container" style="margin:0 auto 60px;width:835px">
      <div id="wrap">

          <div id="company_menu">
              <h1>Campaign: <%= campaign.cocktail.title %></h1>
          <ul>
            <li><a href="#">Company info</a></li>
            <li><a href="#">Current on page SEO</a></li>
            <li><a href="#">Goals to hit monthly</a></li>
          </ul>
          </div>

          <div id="company_info">
          <h1><%= campaign.title %></h1>
          <h4 style="color:white"><%= campaign.url %></h4>
          <p>Notes: <%= campaign.notes %></p>
          </div>

          <textarea style="width:500px;height:250px" id="send-area"></textarea>
          <%= link_to 'submit', 'javascript:void(0)', id: 'send' %>

          <%= form_for :comment, url: '/comments/create', html: { remote: true } do |f| %>
            <%= f.text_field :message, placeholder: 'Enter a comment' %>
            <%= hidden_field_tag :id, campaign.id %>
            <%= f.submit %>
          <% end %>

          <div id="comments">
            <% campaign.comments.desc(:created_at).each do |comment| %>
              <div class="comment">
                  <%= comment.user.first_name %>: <%= comment.message %>
              </div>
            <% end %>
          </div>

        </div>

      </div>





  </div><!--End of wrap-->
  <div class="clear"></div>

<script>
  $(document).ready(function(){
    nicEditors.allTextAreas()
    $('.nicEdit-main').parent().css('background-color', 'white')
    $('#send').click(function(){
      $.post(
        '/campaigns/submit',
        { id: '<%= current_user.id %>', content: $('.nicEdit-main').html() },
        function(rsp){
          $('.nicEdit-main').html('')
        },
        'json'
      )
    })
  })
</script>

<% if campaign.loading == true %>
  <script>
    var jug = new Juggernaut
    jug.subscribe('/campaigns/#{campaign.id}', function(rsp){
      $('#loading').fadeOut()
      $('#info').delay(400).fadeIn()
      for (var i=0; i < rsp.sitemap.length; i++) {
        $('#info ul').first().append('<li>' + rsp.sitemap[i].url + '<ul></ul></li>')
        if (rsp.sitemap[i].title) {
          $('#info ul li ul').last().append('<li>title: ' + rsp.sitemap[i].title + '</li>')
        }
      }
    })
  </script>
<% end %>
