!!!
%html
  %head
    %title= yield :title
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
  %body
    #header
      #nav
        - if !logged_in?
          = form_tag '/users/auth', style: 'display:inline-block' do
            = email_field_tag :email, '', placeholder: 'email', autocomplete: 'off'
            = password_field_tag :password, '', placeholder: 'password', autocomplete: 'off'
            = submit_tag :login
          = link_to 'signup', '/signup'
        - else
          Welcome back, #{current_user.email}!
          = link_to 'logout', '/signout'
    = yield
