!!!
%html
  %head
    %title= yield :title
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = javascript_include_tag 'http://localhost:8080/application.js'
  %body
    = yield
    #footer-bottom-bar
      #footer_nav
        %ul
          %li= link_to 'Contact', 'mailto:mike@thirsty.com'
          %li= link_to 'Support', '#'
          %li= link_to 'Blog', 'http://blog.thirsty.com'
          %li= link_to 'Follow us on Twitter', 'http://twitter.com/thirstyapp'
