!!!
%html
  %head
    %title= yield :title
    - if request.path == '/signin' || request.path == '/signup'
      = stylesheet_link_tag 'signup'
    - else
      = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = javascript_include_tag root_url[0..-2] + ':8081/application.js'
    - if request.path != '/signin' && request.path != '/signup'
      :javascript
        Shadowbox.init()
  %body
    = yield
    - if request.path != '/signin' && request.path != '/signup'
      #footer-bottom-bar
        #footer_nav
          %ul
            %li= link_to 'Contact', 'mailto:mike@thirsty.com'
            %li= link_to 'Support', '#'
            %li= link_to 'Feedback', '#'
            %li= link_to 'Status', 'http://status.thirsty.com'
            %li= link_to 'Follow us on Twitter', 'http://twitter.com/thirstyapp'
