!!!
%html
  %head
    %title
      Thirsty | 
      = yield :title
    - if request.path == '/signin' || request.path == '/signup' || request.path == '/users/create'
      = stylesheet_link_tag 'signup'
      = stylesheet_link_tag 'twitter-bootstrap'
    - elsif (request.path == '/about' || request.path == '/') && !logged_in?
      = stylesheet_link_tag 'home'
    - else
      = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    = javascript_include_tag '/javascripts/nicEdit.js'
    - if Rails.env == 'development'
      = javascript_include_tag 'http://localhost:8081/application.js'
    - else
      = javascript_include_tag root_url[0..-2] + ':8081/application.js'
    <link href='http://fonts.googleapis.com/css?family=Signika+Negative|Acme|Ropa+Sans|Quicksand:400,700|Gudea:400,700|Ubuntu+Condensed|Homenaje|Balthazar|Terminal+Dosis:400,700|Open+Sans+Condensed:700' rel='stylesheet' type='text/css'>    
    :javascript
      Shadowbox.init({skipSetup: true})
  %body
    = yield
    #devider_footer
    #footer-bottom-bar
      #footer_nav
        %ul
          %li= link_to 'Contact', 'mailto:mike@thirsty.com'
          %li= link_to 'Support', '#'
          %li= link_to 'Feedback', '#'
          %li= link_to 'Blog', 'http://blog.thirsty.com'
          %li= link_to 'Follow us on Twitter', 'http://twitter.com/thirstyapp'
          %li= '323-287-7798'
          %li= 'Copyright Thirsty 2012'
